.cards {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: baseline;
    margin: 20px;
  }

.cards #image_container{
    background: #ffffff;
    padding: 10px;
    margin: 10px;
}

.cards img{
    width: 190px;
    height: 200px;
    margin:auto
}

.cards h3{
    color: var(--secondary-color);
    background-color: var(--too-light-blue);
    font-family: var(--secondary-font);
    padding: 10px
}
