nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 12vh;
    background-color:white;
    max-width: 1500px;
    margin: auto;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

nav ul li, select{
    list-style: none;
    font-family: var(--secondary-font);
}

nav ul button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-family: var(--secondary-font);
    padding: 5px 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
nav ul button:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: .5s;
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 30%;
}

#logo span{
    display: block;
    font-family: var(--primary-font);
    line-height: 1;
}

#logo img{
    width: 30%;
    height: 70%;
}

.icon{
    position: relative;
    top: 4px;
    font-size: larger;
}

#burgerMenu{
    display: none;
}

.linkContainer{
    position: absolute;
    width: 100vw;
    background-color: white;
    z-index: 3;
    top: -100vh;
    transition: all 0.5s;
}

.linkContainerActive{
    top: 0;
}

.linkContainer ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.linkContainer ul a, #cross{
    width: 100vw;
    padding: 10px;
}

#list a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bolder;
    cursor: pointer;
    padding: 10px;
}

#list a:hover{
 background-color: rgb(241, 244, 248);
}

.linkContainer ul a:hover, #cross:hover{
    background-color: var(--too-light-blue);
}

#cross{ margin: 0;}

.navicons{
    text-align: center;
    color: var(--secondary-color);
    font-weight: 500;
    margin: 20px;
    font-size: 25px;
}

#dropdown_container{
    position: relative;
}

#dropdown{
    font-family: var(--secondary-font);
    background-color: white;
    position: absolute;
    top: 3rem;
}

#dropdown a{
  text-decoration: none;
  font-size: .8rem;
}

#dropdown li{
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-right: 50px;
}

.active{
    display: none;
}

@media (max-width: 840px) {
    #normalnav{
        display: none;
    }

    #burgerMenu{
        display: flex;
        align-items: center;
    }

    nav ul{
        justify-content: center;
    }
}
