footer {
    width: 100vw;
    background-color: var(--gray-font);
    color: white;
    padding: 2rem 4rem 6rem;
    font-family: var(--secondary-font);
    font-weight: 200;
    max-width: 1500px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.head {
    margin: 20px 0;
}

footer li {
    color: white;
    list-style: none;
    text-decoration: underline;
}

footer .contact, footer .icon {
    position: relative;
}

footer span {
    display: inline-block;
    width: 200px;
    margin: 0 0 10px 20px;
}

@media (min-width: 661px) {
    .container {
        flex-direction: row;
    }

    .head {
        margin: 0 0 20px;
    }
}
