@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    overflow-x: hidden;
    max-width: 1500px;
    margin: auto;
}

:root{
    --primary-font: "Bebas Neue", sans-serif;
    --secondary-font: "DM Sans", sans-serif;
    --primary-color: #093B85;
    --secondary-color: #173B7A;
    --gray-font: #3E3C3C;
    --light-blue: #DCE8F4;
    --too-light-blue: #F6F9FB;
}
