/* Products Styles */
/* #products{
    background-color: #e3e6e6;
} */

#firstImage{
    height: 50vh;
    background: url(../../assets/landingbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchdiv{
    position: relative;
    margin: 20px;
}

#searchicon{
    position: absolute;
    top: 13px;
    right: 10rem;
    width: 40vw;
}

#product_Container{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 20px;
    width: 90%;
    margin:auto;
    justify-content: center;
}

#product_Container div{
    width: 300px;
    height: 300px;
}

#bg{
    background-color: var(--too-light-blue);
}
